/* General Settings */
body {
    padding: 0px;
    margin: 0px;
    width: 100%;
}

/* Footer Design */
a.footer-nav:link {
    color: black;
}

a.footer-nav:visited {
    color: black;
}

a.footer-nav:hover {
    text-decoration: none;
    color: grey;
}

a.footer-nav:active {
    color: black;
}

li.footer-li {
    border: none;
}

li.footer-title {
    border-color: black;
}

hr.footer-hr {
    width: 50%;
    background-color: black;
}

/* Landing Page Design */
img.pikachu-img {
    max-width: 70%;
    min-width: 300px;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.white-bg-img {
    background-image: url(../images/white-background.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: auto;
    width: 100%;
    margin: 0px;
}

div.message-box {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 4px 10px 0px black;
}

/* About Us Design */
.our-team-title {
    height: 75px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.team-img {
    display: block;
    max-width: 40%;
    min-width: 300px;
    height: 450px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
}

.team-container {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-info {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

.our-team-hr {
    border-style: dotted;
    border-width: 2px;
    border-left: none;
    border-right: none;
    width: 50%;
}

.mission-statement-container {
    background-image: url(../images/mission-statement.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: 0px;
}

.mission-title {
    height: 150px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.mission-quote {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
}

@media screen and (max-width: 600px) {
    .mission-quote {
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 5vw;
        padding-left: 5%;
        padding-right: 5%;
    }
}

.our-values-container {
    height: 400px;
}

.our-values-title {
    height: 75px;
    display: flex;
    justify-content: left;
    align-items: center;
}

/* Card List Page Design */
.available-cards-banner {
    background-color: lightslategray;
    color: white;
    height: 125px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.filter-list {
    background-color: gray;
    position: relative;
    max-height: 500px;
    min-height: 170px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.card {
    border-radius:10px;
    box-shadow: 0px 4px 10px 0px black;
    max-width: 300px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.card-image {
    height: auto;
    width: 200px;
    margin: auto;
}

.card-information {
    height: auto;
    width: 200px;
    margin: 0px auto auto auto;
}

.card-title {
    width: auto;
    text-align: center;
    margin: 0px;
}

.card-rarity{
    width: auto;
    text-align: center;
    margin: 0px;
}

.card-generation{
    width: auto;
    text-align: center;
    margin: 0px;
}

.card-element {
    width: auto;
    text-align: center;
    margin: 0px;
}

.card-type {
    width: auto;
    text-align: center;
    margin: 0px;
}

.card-qty {
    width: auto;
    text-align: center;
    margin: 0px 0px 5px 0px;
}

.custom-select {
    text-align: center;
    margin: 0px;
}

.card-btn {
    width: auto;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 5px;
}

/* Design Cart Page */
.cart-banner {
    background-color: lightslategray;
    color: white;
    height: 125px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.cart-title {
    height: 80px;
    display: flex;
    justify-content: left;
    align-items: center;
}