/* General Settings */
body {
    padding: 0px;
    margin: 0px;
    width: 100%;
}

/* Footer Design */
a.footer-nav:link {
    color: black;
}

a.footer-nav:visited {
    color: black;
}

a.footer-nav:hover {
    text-decoration: none;
    color: grey;
}

a.footer-nav:active {
    color: black;
}

li.footer-li {
    border: none;
}

li.footer-title {
    border-color: black;
}

hr.footer-hr {
    width: 50%;
    background-color: black;
}

/* Landing Page Design */
img.pikachu-img {
    max-width: 70%;
    min-width: 300px;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.white-bg-img {
    background-image: url(../images/white-background.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: auto;
    width: 100%;
    margin: 0px;
}

div.message-box {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 4px 10px 0px black;
}

/* About Us Design */
.our-team-title {
    height: 75px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.team-img {
    display: block;
    max-width: 40%;
    min-width: 300px;
    height: 450px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
}

.team-container {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-info {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

.our-team-hr {
    border-style: dotted;
    border-width: 2px;
    border-left: none;
    border-right: none;
    width: 50%;
}

.mission-statement-container {
    background-image: url(../images/mission-statement.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: 0px;
}

.mission-title {
    height: 150px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.mission-quote {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
}

@media screen and (max-width: 600px) {
    .mission-quote {
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 5vw;
        padding-left: 5%;
        padding-right: 5%;
    }
}

.our-values-container {
    height: 400px;
}

.our-values-title {
    height: 75px;
    display: flex;
    justify-content: left;
    align-items: center;
}

/* Card List Page Design */
.available-cards-banner {
    background-color: lightslategray;
    color: white;
    height: 125px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.filter-list {
    background-color: gray;
    position: relative;
    max-height: 500px;
    min-height: 170px;
    display: flex;
    justify-content: left;
    align-items: center;
}

#card_container img
{
    width: 300px;

    padding: 20px;

}

.cards{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;


}
.card {
    text-align: center;
    font-family: arial;
    flex: 0 1 24%;



}
.card-img img{
    width:200px;
}


.price {

    color: grey;
    font-size: 22px;
}

.card button {

    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;

    font-size: 18px;
}

.card button:hover {
    opacity: 0.7;
}

.card-info p{
    font-style: italic;
}
